:root{
--cor-fundo:#1d1c1d;
--cor-principal:#9b9b9b;
--cor-secundaria:#306770;
--cor-texto:#ffffff;
--cor-destaque:#ff0000;
}

body{

background-color: var(--cor-fundo);
color:var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
 .caixa-rincipal{

    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: 20px;
    padding: 20px;
    
 }